
body {
	background-color: black;
	color: ghostwhite;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 0;
    width: 100%;
    height: auto; 
}

.header-image {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("../img/660-bar.jpg") no-repeat center;
  	background-size: 100% auto;
  	height: 100%;
  	width: 100%;
}

.info {
	text-align: center;
	padding: 45px 50px 10px 50px;
	background-color: rgba(0,0,0, .5);
}
.contact {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	color: ghostwhite;
	font-size: 26px;
	letter-spacing: 3px;
	line-height: 30px;
}
.logo {
	margin: 0 auto;
	width: 35%;
	margin-bottom: 15px;
	border: solid ghostwhite 1px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

}
.logo img {
	width: 100%;
	height: auto;
}
.email {
	padding-top: 10px;
	font-weight: 300;
}
.event-posters {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.thumbnail {
	padding: 0;
	margin: 0;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid red 1px;
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	border: solid yellow 1px;
}
.links-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;
}
.social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 50%;
	height: 100%;
}

.more-info {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
	color: white;
	    margin-bottom: 30px;
	text-decoration: underline;
	cursor: pointer;
}
.more-info:hover {
	color: #085db6;
}
.social-link {
	width: 45px;
	height: 45px;
	margin: 10px;
}
.facebook {
	width: 43px;
}

.social-link img {
	width: 100%;
	height: auto;
}


/*//////MODAL//////*/
.modal-dialog {
	
}
.modal-content {
	border-radius: 0;
	border-color: none;
	width: 55%;
	margin: 0 auto;
}
.modal-body {
	padding: 0;
}
.close-button {
	position: absolute;
	right: 1%;
    top: 1%;
	width: 28px;
	height: 28px;
	font-size: 28px;
	color: rgb(255,255,255);
	text-shadow: 0 1px 0 rgb(0,0,0);
	opacity: 1;
	font-weight: 400;
	margin-right: 5px;
	margin-top: 2px;
	outline: none;	
}

.close-button:active {
	color: rgb(255,255,255);
}
.close-button:focus {
	color: rgb(255,255,255);
	opacity: 1;
}
.close-button:hover {
	color: #1b586a;
}
.modal-header {
	width: 100%;
	height: auto;
	padding: 0;
}
.modal-header img {
	display: flex;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.modal-info {
	margin: 25px;
	width: auto;
	color: black;
}
.blurb {
	text-align: justify;
}
.construction {
	text-align: center;
}
.follow-us {
	color: black;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 700;
}